<div class="min-h-screen bg-gray-100">
  <!-- Header da Dashboard com título e botão de logout -->
  <header class="bg-white shadow p-4">
    <div class="container mx-auto flex justify-between items-center">
      <h1 class="text-2xl font-semibold">Admin Dashboard</h1>
      <button class="bg-red-500 text-white py-2 px-4 rounded" (click)="logout()">Logout</button>
    </div>
  </header>

  <!-- Tabs Navigation -->
  <nav class="bg-gray-200 p-3">
    <ul class="flex space-x-4">
      <li (click)="selectedTab = 'posts'" [class.text-blue-500]="selectedTab === 'posts'" class="cursor-pointer">Posts</li>
      <li (click)="selectedTab = 'categories'" [class.text-blue-500]="selectedTab === 'categories'" class="cursor-pointer">Categories</li>
      <li (click)="selectedTab = 'users'" [class.text-blue-500]="selectedTab === 'users'" class="cursor-pointer">Users</li>
      <li (click)="selectedTab = 'comments'" [class.text-blue-500]="selectedTab === 'comments'" class="cursor-pointer">Comments</li>
    </ul>
  </nav>

<!-- Users Tab -->
<div
  *ngIf="selectedTab === 'users'"
  class="grid grid-cols-1 lg:grid-cols-2 gap-6"
>
  <div class="bg-white shadow-lg rounded-lg p-6">
    <h2 class="text-xl font-bold mb-4">Manage Users</h2>
    <ul>
      <li
        *ngFor="let user of users$ | async"
        class="bg-gray-100 p-4 rounded-lg mb-3"
      >
        <div class="flex justify-between items-center">
          <span>{{ user.email }}</span>
          <div>
            <button
              class="bg-yellow-500 text-white py-1 px-3 rounded mr-2"
              (click)="startEditUser(user)"
            >
              Edit
            </button>
            <button
              class="bg-red-500 text-white py-1 px-3 rounded"
              (click)="deleteUser(user.id)"
            >
              Delete
            </button>
          </div>
        </div>

        <!-- Formulário de Edição -->
        <div *ngIf="editingUserId === user.id" class="mt-4">
          <input
            type="text"
            [(ngModel)]="editingUser!.username"
            placeholder="Edit Username"
            required
            class="form-control mb-2"
          />
          <input
            type="email"
            [(ngModel)]="editingUser!.email"
            placeholder="Edit Email"
            required
            class="form-control mb-2"
          />
          <button
            (click)="saveEditUser(editingUser)"
            class="bg-green-500 text-white py-1 px-3 rounded mr-2"
          >
            Save
          </button>
          <button
            (click)="cancelUserEdit()"
            class="bg-gray-500 text-white py-1 px-3 rounded"
          >
            Cancel
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- Posts Tab -->
<div
  *ngIf="selectedTab === 'posts'"
  class="grid grid-cols-1 lg:grid-cols-2 gap-6"
>
  <div class="bg-white shadow-lg rounded-lg p-6">
    <h2 class="text-xl font-bold mb-4">Manage Posts</h2>
    <ul>
      <li
        *ngFor="let post of posts$ | async"
        class="bg-gray-100 p-4 rounded-lg mb-3"
      >
        <div class="flex justify-between items-center">
          <span>{{ post.title }}</span>
          <div>
            <button
              class="bg-yellow-500 text-white py-1 px-3 rounded mr-2"
              (click)="startEditPost(post)"
            >
              Edit
            </button>
            <button
            *ngIf="post.id !== undefined"
              class="bg-red-500 text-white py-1 px-3 rounded"
              (click)="deletePost(post.id)"
            >
              Delete
            </button>
          </div>
        </div>
        <div *ngIf="editingPostId === post.id && editingPost !== null">
          <input
            type="text"
            [(ngModel)]="editingPost.title"
            placeholder="Edit Title"
            required
            class="form-control mb-2"
          />
          <textarea
            [(ngModel)]="editingPost.content"
            placeholder="Edit Content"
            required
            class="form-control mb-2"
          ></textarea>
          <button
            (click)="saveEditPost()"
            class="bg-green-500 text-white py-1 px-3 rounded mr-2"
          >
            Save
          </button>
          <button
            (click)="cancelPostEdit()"
            class="bg-gray-500 text-white py-1 px-3 rounded"
          >
            Cancel
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
