<div class="min-h-screen bg-gray-100">
  <!-- Header da Dashboard com título e botão de logout -->
  <header class="bg-white shadow p-4">
    <div class="container mx-auto flex justify-between items-center">
      <h1 class="text-2xl font-semibold">Admin Dashboard</h1>
      <button class="bg-red-500 text-white py-2 px-4 rounded" (click)="logout()">Logout</button>
    </div>
  </header>

  <!-- Tabs Navigation -->
  <nav class="bg-gray-200 p-3">
    <ul class="flex space-x-4">
      <li (click)="selectedTab = 'posts'" [class.text-blue-500]="selectedTab === 'posts'" class="cursor-pointer">Posts</li>
      <li (click)="selectedTab = 'categories'" [class.text-blue-500]="selectedTab === 'categories'" class="cursor-pointer">Categories</li>
      <li (click)="selectedTab = 'users'" [class.text-blue-500]="selectedTab === 'users'" class="cursor-pointer">Users</li>
      <li (click)="selectedTab = 'comments'" [class.text-blue-500]="selectedTab === 'comments'" class="cursor-pointer">Comments</li>
    </ul>
  </nav>

  <!-- Tabs Content -->
  <div class="container mx-auto py-6">

    <!-- Posts Tab -->
    <div *ngIf="selectedTab === 'posts'" class="grid grid-cols-1 lg:grid-cols-2 gap-6">
      <div class="bg-white shadow-lg rounded-lg p-6">
        <h2 class="text-xl font-bold mb-4">Manage Posts</h2>
        <button class="bg-blue-500 text-white py-2 px-4 rounded mb-4" routerLink="/blog/create">Create New Post</button>
        <ul>
          <li *ngFor="let post of (posts$ | async)" class="bg-gray-100 p-4 rounded-lg mb-3">
            <div class="flex justify-between items-center">
              <span>{{ post.title }}</span>
              <div>
                <button class="bg-yellow-500 text-white py-1 px-3 rounded mr-2" (click)="startEditPost(post)">Edit</button>
                <button class="bg-red-500 text-white py-1 px-3 rounded" *ngIf="post.id" (click)="deletePost(post.id)">Delete</button>
              </div>
            </div>

            <!-- Formulário de Edição -->
            <div *ngIf="editingPostId === post.id" class="mt-4">
              <input type="text" [(ngModel)]="post.title" placeholder="Edit Title" required class="form-control mb-2" />
              <textarea [(ngModel)]="post.content" placeholder="Edit Content" required class="form-control mb-2"></textarea>
              <button (click)="saveEditPost(post)" class="bg-green-500 text-white py-1 px-3 rounded">Save</button>
              <button (click)="cancelEditPost()" class="bg-gray-500 text-white py-1 px-3 rounded">Cancel</button>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Categories Tab -->
    <div *ngIf="selectedTab === 'categories'" class="grid grid-cols-1 lg:grid-cols-2 gap-6">
      <div class="bg-white shadow-lg rounded-lg p-6">
        <h2 class="text-xl font-bold mb-4">Manage Categories</h2>
        <form (submit)="addCategory(newCategoryName.value); newCategoryName.value=''" class="mt-4">
          <div class="mb-3">
            <input type="text" #newCategoryName placeholder="New category" required class="form-control" />
          </div>
          <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded">Add Category</button>
        </form>
        <ul>
          <li *ngFor="let category of (categories$ | async)" class="bg-gray-100 p-4 rounded-lg mb-3">
            <div class="flex justify-between items-center">
              <span>{{ category.name }}</span>
              <div>
                <button class="bg-yellow-500 text-white py-1 px-3 rounded mr-2" (click)="startEditCategory(category)">Edit</button>
                <button class="bg-red-500 text-white py-1 px-3 rounded" *ngIf="category.id" (click)="deleteCategory(category.id)">Delete</button>
              </div>
            </div>

            <!-- Formulário de Edição -->
            <div *ngIf="editingCategoryId === category.id" class="mt-4">
              <input type="text" [(ngModel)]="category.name" placeholder="Edit Name" required class="form-control mb-2" />
              <button (click)="saveEditCategory(category)" class="bg-green-500 text-white py-1 px-3 rounded">Save</button>
              <button (click)="cancelCategoryEdit()" class="bg-gray-500 text-white py-1 px-3 rounded">Cancel</button>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Users Tab -->
    <div *ngIf="selectedTab === 'users'" class="grid grid-cols-1 lg:grid-cols-2 gap-6">
      <div class="bg-white shadow-lg rounded-lg p-6">
        <h2 class="text-xl font-bold mb-4">Manage Users</h2>
        <ul>
          <li *ngFor="let user of (users$ | async)" class="bg-gray-100 p-4 rounded-lg mb-3">
            <div class="flex justify-between items-center">
              <span>{{ user.username }}</span>
              <div>
                <button class="bg-yellow-500 text-white py-1 px-3 rounded mr-2" (click)="startEditUser(user)">Edit</button>
                <button class="bg-red-500 text-white py-1 px-3 rounded" (click)="deleteUser(user.id)">Delete</button>
              </div>
            </div>

            <!-- Formulário de Edição -->
            <div *ngIf="editingUserId === user.id" class="mt-4">
              <input type="text" [(ngModel)]="user.username" placeholder="Edit Name" required class="form-control mb-2" />
              <button (click)="saveEditUser(user)" class="bg-green-500 text-white py-1 px-3 rounded">Save</button>
              <button (click)="cancelUserEdit()" class="bg-gray-500 text-white py-1 px-3 rounded">Cancel</button>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Comments Tab -->
    <div *ngIf="selectedTab === 'comments'" class="grid grid-cols-1 lg:grid-cols-2 gap-6">
      <div class="bg-white shadow-lg rounded-lg p-6">
        <h2 class="text-xl font-bold mb-4">Manage Comments</h2>
        <ul>
          <li *ngFor="let comment of (comments$ | async)" class="bg-gray-100 p-4 rounded-lg mb-3">
            <div class="flex justify-between items-center">
              <span>{{ comment.content }}</span>
              <div>
                <button class="bg-yellow-500 text-white py-1 px-3 rounded mr-2" (click)="startEditComment(comment)">Edit</button>
                <button class="bg-red-500 text-white py-1 px-3 rounded" *ngIf="comment.id !== undefined" (click)="deleteComment(comment.id)">Delete</button>
              </div>
            </div>

            <!-- Formulário de Edição -->
            <div *ngIf="editingCommentId === comment.id" class="mt-4">
              <input type="text" [(ngModel)]="comment.content" placeholder="Edit Content" required class="form-control mb-2" />
              <button (click)="saveEditComment(comment)" class="bg-green-500 text-white py-1 px-3 rounded">Save</button>
              <button (click)="cancelCommentEdit()" class="bg-gray-500 text-white py-1 px-3 rounded">Cancel</button>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
