<div class="container my-5">
  <div class="text-center mb-4">
    <i class="fa-regular fa-star fa-4x"></i>
  </div>
  <div
    *ngIf="message"
    [ngClass]="{ 'text-success': success, 'text-danger': !success }"
    class="mb-4 text-center"
  >
    {{ message }}
  </div>
  <h2 class="text-center mb-4 display-4">Blog Posts</h2>
  <div class="text-center mb-4">
    <a routerLink="/blog/create" class="btn btn-primary">
      <i class="fa-solid fa-plus me-2"></i> New Post
    </a>
  </div>

  <div class="row justify-content-center">
    <input
      type="text"
      class="form-control shadow-sm p-3 bg-transparent text-dark rounded"
      placeholder="Search posts"
      [(ngModel)]="searchTerm"
      (input)="filterPosts()"
    />
    <div
      *ngIf="searchTerm && filteredPosts.length === 0"
      class="alert alert-warning text-center"
      role="alert"
    >
      No results found
    </div>
    <div
      *ngIf="!searchTerm && filteredPosts.length === 0"
      class="alert alert-info text-center"
      role="alert"
    >
      Create a new post
    </div>

    <div
      class="card p-3 m-3 shadow bg-white rounded w-100"
      style="max-width: 800px"
    >
      <ul>
        <li *ngFor="let post of filteredPosts" class="">
          <p class="mb-1 display-4">
            <a
              [routerLink]="['/blog/post', post.id ?? 0]"
              class="text-decoration-none text-dark"
            >
              {{ post.title }}
            </a>
          </p>
          <p class="mb-1">{{ post.content }}</p>
          <div class="d-flex justify-content-end mt-2">
            <a
              [routerLink]="['/blog/edit', post.id]"
              class="btn btn-warning btn-sm me-2"
              title="Editar Post"
            >
              <i class="fa-solid fa-pen"></i> Edit
            </a>
            <button
              *ngIf="post.id !== undefined"
              (click)="deletePost(post.id)"
              class="btn btn-danger btn-sm me-2"
              title="Deletar Post"
            >
              <i class="fa-solid fa-trash"></i> Delete
            </button>
            <button
              (click)="exportAsTxt(post)"
              class="btn btn-dark btn-sm"
              title="Exportar Post"
            >
              <i class="fa-solid fa-download"></i> Export
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
