<div class="container d-flex justify-content-center">
  <div class="card p-3 m-5 shadow bg-white rounded w-100" style="max-width: 450px;">
    <h2 class="text-center m-4 display-4">Edit Profile</h2>
    <div
      *ngIf="message"
      [ngClass]="{ 'text-green-600': success, 'text-red-600': !success }"
      class="mb-4 text-center"
    >
      {{ message }}
    </div>
    <div *ngIf="profilePicture">
      <img [src]="profilePicture" alt="Profile Picture" class="rounded-full h-32 w-32 mx-auto mb-4" />
    </div>
    <div *ngIf="!profilePicture">
      <p>No profile picture available.</p>
    </div>

    <form #userForm="ngForm" (ngSubmit)="updateUser(userForm)" class="m-4">
      <div class="mb-4">
        <label for="profileImage" class="block text-gray-700">Profile Image</label>
        <div class="relative mt-1">
          <input type="file" id="profileImage" (change)="onImageSelected($event)" class="absolute inset-0 opacity-0 cursor-pointer" />
          <button type="button" class="w-full p-2 border border-gray-300 rounded bg-sky-500/75 text-white hover:bg-sky-600 focus:outline-none focus:ring focus:ring-sky-200">
            Select File
          </button>
        </div>
      </div>


      <div class="mb-4">
        <label for="username" class="block text-gray-700">Username</label>
        <input
          type="text"
          id="username"
          [(ngModel)]="username"
          name="username"
          required
          class="mt-1 block w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-200"
          placeholder="Enter your username"
        />
      </div>
      <div class="mb-4">
        <label for="email" class="block text-gray-700">Email</label>
        <input
          type="email"
          id="email"
          [(ngModel)]="email"
          name="email"
          required
          class="mt-1 block w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-200"
          placeholder="Enter your email"
        />
      </div>
      <div class="mb-4">
        <label for="password" class="block text-gray-700">Password</label>
        <input
          type="password"
          id="password"
          [(ngModel)]="password"
          name="password"
          class="mt-1 block w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-200"
          placeholder="Enter new password"
        />
      </div>
      <div class="mb-4">
        <label for="confirmPassword" class="block text-gray-700">Confirm Password</label>
        <input
          type="password"
          id="confirmPassword"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          class="mt-1 block w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-200"
          placeholder="Confirm new password"
        />
      </div>
      <button
        type="submit"
        class="w-full bg-blue-600 text-white font-bold py-2 rounded hover:bg-blue-500 transition duration-200"
      >
        Update Profile
      </button>
    </form>
  </div>
</div>
