<div class="container mx-auto p-4">
  <h2 class="display-4 text-center mb-4">Comments</h2>
  <p *ngIf="message" class="alert alert-info">{{ message }}</p>
  <div *ngIf="loading" class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>

  <ul *ngFor="let comment of comments$ | async" class="list-group space-y-2">
    <li
      class="list-group-item flex justify-between items-center bg-gray-100 p-2 rounded-md shadow-sm"
    >
      <div>
        <p class="font-medium">{{ comment.content }}</p>
        <p class="text-sm text-gray-500">{{ comment.created_at | date: 'short' }}</p>
      </div>
      <div>
        <button class="btn btn-warning btn-sm mr-2" (click)="startEditComment(comment)">
          Edit
        </button>
        <button class="btn btn-danger btn-sm" (click)="deleteComment(comment.id)">
          Delete
        </button>
      </div>
    </li>
  </ul>

  <!-- Formulário de Edição -->
  <div *ngIf="editingComment" class="mt-4">
    <h3 class="text-lg font-semibold">Edit Comment</h3>
    <div class="flex flex-col">
      <label class="mt-2">Content:</label>
      <input [(ngModel)]="editingComment.content" class="border p-2" />
      <button (click)="saveEditComment()" class="bg-blue-500 text-white px-4 py-2 mt-4">
        Save
      </button>
      <button (click)="cancelEdit()" class="bg-gray-500 text-white px-4 py-2 mt-4 ml-2">
        Cancel
      </button>
    </div>
  </div>
</div>
