<div class="container d-flex justify-content-center">
  <div
  class="card p-5 mt-5 shadow bg-white rounded w-100"
  style="max-width: 600px"
>
  <div *ngIf="post">
    <h2 class="display-4 mb-4">{{ post.title }}</h2>
    <p class="lead">{{ post.content }}</p>

    <!-- Lista de categorias -->
    <div class="categories-list mt-5 flex flex-wrap"> <!-- Aumentei a margem superior para mt-5 -->
      <span *ngFor="let category of categories; let last = last"
            class="badge rounded-full bg-warning me-4 flex items-center shadow-md custom-pill"
            style="max-width: fit-content;"> <!-- Usei rounded-full e adicionei shadow -->
        <span class="text-black mr-3">{{ category.name }}</span> <!-- Texto preto -->
        <button
          (click)="deleteCategory(category.id!)"
          class="remove-icon focus:outline-none"
          aria-label="Remove category"
        >
          <i class="fa-solid fa-times"></i> <!-- Ícone "x" -->
        </button>
      </span>
    </div>



  </div>

  <div class="d-flex justify-content-end mt-4">
    <button routerLink="/blog" class="btn btn-primary me-2">Back</button>
  </div>
</div>

</div>

<!-- Comments Section -->
<div class="container my-5">
  <h1 class="mb-4"><strong>Comments:</strong></h1>

  <!-- Adicionar Comentário -->
  <div class="card my-4">
    <div class="card-header">
      <h3 class="mb-0">Add a Comment</h3>
    </div>
    <div class="card-body">
      <textarea
        [(ngModel)]="newComment"
        placeholder="Write your comment here..."
        class="form-control mb-2"
      ></textarea>
      <button (click)="addComment()" class="btn btn-outline-secondary">
        Add Comment
      </button>
    </div>
  </div>

  <div *ngFor="let comment of comments" class="card mb-3">
    <div class="card-header">
      <strong>{{ userName }}</strong>
      <p class="text-muted">{{ comment.created_at | date : "short" }}</p>
    </div>
    <div class="card-body">
      <div class="d-flex align-items-center">
        <!-- Exibição do comentário quando não está em modo de edição -->
        <div *ngIf="editCommentId !== comment.id" class="flex-grow-1">
          <p class="mb-0">{{ comment.content }}</p>
        </div>

        <!-- Campo de edição do comentário -->
        <div *ngIf="editCommentId === comment.id" class="flex-grow-1">
          <input
            [(ngModel)]="editCommentContent"
            class="form-control"
            placeholder="Edit your comment..."
            aria-label="Edit comment"
          />
        </div>
      </div>

      <!-- Botões de ações: Editar, Salvar, Cancelar e Deletar -->
      <div *ngIf="isLoggedIn" class="d-flex justify-content-end mt-3">
        <!-- Botão de Editar -->
        <button
          *ngIf="editCommentId !== comment.id"
          (click)="editComment(comment)"
          class="btn btn-outline-dark btn-sm me-2"
        >
          Edit
        </button>

        <!-- Botão de Salvar -->
        <button
          *ngIf="editCommentId === comment.id"
          (click)="saveComment()"
          class="btn btn-outline-success btn-sm me-2"
        >
          Save
        </button>

        <!-- Botão de Cancelar -->
        <button
          *ngIf="editCommentId === comment.id"
          (click)="cancelEdit()"
          class="btn btn-outline-danger btn-sm me-2"
        >
          Cancel
        </button>

        <!-- Botão de Deletar -->
        <button
          *ngIf="comment.id !== undefined"
          (click)="deleteComment(comment.id)"
          class="btn btn-outline-danger btn-sm"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Categories Section -->
<div class="container my-5">
  <h1 class="mb-4"><strong>Categories:</strong></h1>

  <!-- Adicionar Categoria -->
  <div class="card my-4">
    <div class="card-header">
      <h3 class="mb-0">Add a Category</h3>
    </div>
    <div class="card-body">
      <input
        [(ngModel)]="newCategoryName"
        placeholder="Enter category name"
        class="form-control mb-2"
      />
      <button (click)="addCategory()" class="btn btn-outline-secondary">
        Add Category
      </button>
    </div>
  </div>

  <div *ngFor="let category of allCategories" class="card mb-3">
    <div class="card-header">
      <strong>{{ category.name }}</strong>
    </div>
    <div class="card-body">
      <div class="d-flex align-items-center">
        <!-- Campo de edição da categoria -->
        <div *ngIf="editCategoryId !== category.id" class="flex-grow-1">
          <p class="mb-0">{{ category.name }}</p>
        </div>

        <div *ngIf="editCategoryId === category.id" class="flex-grow-1">
          <input
            [(ngModel)]="editCategoryName"
            class="form-control"
            placeholder="Edit category name..."
            aria-label="Edit category"
          />
        </div>
      </div>

      <!-- Botões de ações: Editar, Salvar, Cancelar e Deletar -->
      <div *ngIf="isLoggedIn" class="d-flex justify-content-end mt-3">
        <!-- Botão de Editar -->
        <button
          *ngIf="editCategoryId !== category.id"
          (click)="editCategory(category)"
          class="btn btn-outline-dark btn-sm me-2"
        >
          Edit
        </button>

        <!-- Botão de Salvar -->
        <button
          *ngIf="editCategoryId === category.id"
          (click)="saveCategory()"
          class="btn btn-outline-success btn-sm me-2"
        >
          Save
        </button>

        <!-- Botão de Cancelar -->
        <button
          *ngIf="editCategoryId === category.id"
          (click)="cancelEditCategory()"
          class="btn btn-outline-danger btn-sm me-2"
        >
          Cancel
        </button>

        <!-- Botão de Deletar -->
        <button
          *ngIf="category.id !== undefined"
          (click)="deleteCategory(category.id)"
          class="btn btn-outline-danger btn-sm"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
