<div class="container mx-auto p-4">
  <h2 class="display-4 text-center mb-4">Category List</h2>
  <p *ngIf="message" class="alert alert-info">{{ message }}</p>
  <div *ngIf="loading" class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>

  <ul *ngIf="!loading" class="list-group space-y-2">
    <li *ngFor="let category of categories$ | async" class="list-group-item flex justify-between items-center">
      <span>{{ category.name }}</span>
      <div>
        <button class="btn btn-warning btn-sm mr-2" (click)="startEditCategory(category)">Edit</button>
        <button class="btn btn-danger btn-sm" (click)="category.id !== undefined ? deleteCategory(category.id) : null">Delete</button>
      </div>
    </li>
  </ul>

  <!-- Formulário de Edição de Categoria -->
  <div *ngIf="editingCategory" class="mt-4">
    <h3 class="text-lg font-semibold">Edit Category</h3>
    <div class="flex flex-col">
      <label class="mt-2">Name:</label>
      <input [(ngModel)]="editingCategory.name" class="border p-2" />
      <button (click)="saveEditCategory()" class="bg-blue-500 text-white px-4 py-2 mt-4">Save</button>
      <button (click)="cancelEditCategory()" class="bg-gray-500 text-white px-4 py-2 mt-4 ml-2">Cancel</button>
    </div>
  </div>

  <!-- Formulário para Adicionar Nova Categoria -->
  <div class="mt-4">
    <h3 class="text-lg font-semibold">Add New Category</h3>
    <div class="flex flex-col">
      <label class="mt-2">Name:</label>
      <input [(ngModel)]="newCategory.name" class="border p-2" />
      <button (click)="addCategory()" class="bg-green-500 text-white px-4 py-2 mt-4">Add Category</button>
    </div>
  </div>
</div>
