<div class="container d-flex justify-content-center">
  <div class="card p-3 m-5 shadow bg-white rounded w-100" style="max-width: 450px;">
    <form (ngSubmit)="createPost()" class="m-4">
      <div class="text-center">
        <i class="fa-regular fa-note-sticky fa-4x m-4"></i>
      </div>
      <h2 class="text-center mb-4 display-4">New Post</h2>
      <div
        *ngIf="message"
        [ngClass]="{ 'text-success': success, 'text-danger': !success }"
        class="mb-4 text-center"
      >
        {{ message }}
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input
          type="text"
          [(ngModel)]="title"
          name="title"
          required
          class="form-control"
          placeholder="Enter the title of your post"
        />
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Content:</label>
        <textarea
          [(ngModel)]="content"
          name="content"
          required
          class="form-control"
          rows="5"
          placeholder="Write your post content here..."
        ></textarea>
      </div>
      <div class="d-flex justify-content-between">
        <a routerLink="/blog" class="btn btn-warning">Back</a>
        <button type="submit" class="btn btn-primary">Update Post</button>
      </div>
    </form>
  </div>
</div>
